.card-list-container {
  width: 100%;
}

.card-container {
  box-sizing: border-box;

  display: inline-block;
  vertical-align: top;

  padding: 3px;

  width: 20%;
}

.card {
  border-radius: 3px;
  padding: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  height: 200px;

  position: relative;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.selected {
  background: #0d47a1;
  color: white;
}

.title {
  font-size: 10px;
  opacity: 0.2;
  position: absolute;
  right: 6px;
  top: 3px;
}

.name {
  font-size: 16px;
}

.description {
  margin-top: 10px;
  opacity: 0.5;
}

.action {
  position: absolute;
  right: 10px;
  bottom: 20px;

  width: 42px;
}

.action-button {
  margin-bottom: 6px;
}
